body{
    font-size: 16px;
	font-family: Dosis, Roboto, Arial, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
	background: rgba(128, 200, 255, 0.8);
}

.container{
	display:flex;
	position:absolute;
	top:9.5%;
}

canvas{		
			border:5px solid black;
			background:white;	
			margin:0 10% 0 25%;
		}

.button {
		  display: inline-block;
		  padding: 10px 15px;
		  font-size: 24px;
		  cursor: pointer;
		  text-align: center;
		  text-decoration: none;
		  outline: none;
		  color: #fff;
		  background-color: #006400;
		  border: none;
		  border-radius: 15px;
		  box-shadow: 0 9px #4CAF50;
		}
		
.button:hover {background-color: #3e8e41}

.button:active {
		  background-color: #3e8e41;
		  box-shadow: 0 5px black;
		  transform: translateY(4px);
		}
		
#right-box{
	margin-left:10%;
}